{% extends 'Shared/_Layout.html' %}
{% block content %}
    <!-- Error title -->
    <div class="text-center content-group">
        <h1 class="error-title">405</h1>
        <h5>Oops, an error has occurred. Method not allow!</h5>
    </div>
    <!-- /error title -->


    <!-- Error content -->
    <div class="row text-center">
        <div class="col-lg-2 col-lg-offset-5 col-sm-2 col-sm-offset-5">
            <div class="row">
                <a href="/" class="btn btn-primary btn-block content-group"><i
                        class="icon-circle-left2 position-left"></i> Go to dashboard</a>
            </div>
        </div>
    </div>
    <!-- /error wrapper -->
{% endblock %}